@import "./../../resources/styles/style.scss";

@keyframes lazyLoadAnimation{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}
.animated-background {
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: lazyLoadAnimation;
    animation-timing-function: linear;
    background: #9a9ea2;
    background: linear-gradient(to right, #9a9ea2 8%, #fff 18%, #9a9ea2 25%);
    background-size: 900px 104px;
    position: relative;
}

.card.empty-card{
    .card-header, .card-title, .card-text div, .card-img, .card-author {
        @extend .animated-background;
        margin-bottom: 10px;
    }
    .card-header {
        width: 50px;
        height: 20px;
    }
    .card-img {
        height: 150px;
    }
    .card-title {
        height: 30px;
        width: 300px;
        max-width: 100%;
    }
    .card-author {
        width: 140px;
        height: 20px;
    }
    .card-text div {
        height: 20px;
        margin: 10px 0;
    }
}

.card.main-article-card{
    .card-title {
        font-size: 29px;
    }
    .card-author{

        div{
            width: 45px;
            height: 45px;
        }
    }
}
.card {
    margin: $spacer 0;
    flex-direction: column;

    .card-title {
        color: #000000;
        font-size: 17px;
        margin-bottom: $card-spacer-y;
    }
    .card-author{
        color: #808080;
        font-size: 13px;
        display: flex;
        align-items: center;
        padding-bottom: 20px;

        div{
            width: 32px;
            height: 32px;
            border-radius: 100%;
            background-color: #333;
            margin-right: 10px;
        }
    }
    .card-text{
        color: #686868;
        font-size: 14px;
        font-family: 'OpenSans';
        letter-spacing: 0;
    }
    .card-header {
        padding: 5px 0;
        margin-bottom: 0;
        font-size: 10px;
        text-transform: uppercase;
    }
    .card-img{
        margin-bottom: 1.5rem;
        width: 100%;
        img {
            width: 100%;
            object-fit: cover;
            max-height: 240px;
        }
    }
}